a {
  text-decoration: none;
}
.header {
  color: #53ca59;
  display: flex;
  font-family: Open Sans;
  font-weight: bold;
}
.header a {
  color: #368339;
  padding: 10px;
}
.header-links {
  padding-left: 20px;
}
.header-logo {
  padding-right: 5px;
}
body {
  background-image: url(images/background.svg);
}
@font-face {
  font-family: Nineties;
  src: url(fonts/NinetiesDisplay.otf);
}
.main-title {
  padding-top: 50px;
  font-family: "Josefin Sans";
  font-size: 32px;
  text-align: center;
  color: #1ac59a;
}
.main-title-henri {
  font-family: Josefin Sans;
  font-size: 80px;
}
.main-title-stricker {
  font-family: Nineties;
  margin-top: -55px;
  font-size: 80px;
}

.project-smartfridge {
  padding-top: 50px;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: #3ccee9;
}
.project-title-smart {
  font-family: Josefin Sans;
  font-size: 80px;
  color: #61a2f4;
}
.project-title-fridge {
  font-family: Nineties;
  margin-top: -55px;
  font-size: 80px;
  color: #3ccee9;
}
.project-smartfridge-description {
  margin-top: -35px;
}
