a {
  text-decoration: none;
}
h1 {
  font-family: Mirava;
  font-size: 80px;
}
p {
  font-family: Poppins;
}
.header {
  color: #40415d;
  display: flex;
  font-family: Mirava;
  font-weight: bold;
}
.header a {
  color: #55577b;
  padding: 10px;
}
.header-links {
  padding-left: 20px;
}
.header-logo {
  position: relative;
}
.header-logo-link {
  display: inline-block;
  margin-left: -9px;
  margin-top: -11px;
}
body {
  background-image: url(images/background.svg);
  background-size: cover;
}
@media (orientation: portrait) {
  body {
    background-image: url(images/background-mobile.svg);
    background-size: cover;
  }
}
@media only screen and (max-width: 393px) {
  .header {
    font-size: 14px;
  }
  .header-links {
    padding-left: 12px;
  }
  .header-logo-link {
    margin-top: -13px;
  }
  h1 {
    font-size: 70px;
  }
}
@font-face {
  font-family: Nineties;
  src: url("/static/fonts/NinetiesDisplay.otf");
}
@font-face {
  font-family: Mirava;
  src: url("/static/fonts/Mirava-Regular.otf");
}
@font-face {
  font-family: Poppins;
  src: url("/static/fonts/Poppins-Black.ttf");
}
.main-title {
  padding-top: 50px;
  text-align: center;
  color: #40415d;
}
.main-title-stricker {
  font-family: Nineties;
  margin-top: -55px;
}

.project-smartfridge {
  padding-top: 50px;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: #014f86;
}
.project-title-smart {
  color: #014f86;
}
.project-title-fridge {
  font-family: Nineties;
  margin-top: -55px;

  color: #2c7da0;
}
.project-smartfridge-description {
  margin-top: -35px;
}
.social-github {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: #08872b;
}
.social-title-git {
  color: #101411;
}
.social-title-hub {
  font-family: Nineties;
  margin-top: -55px;
  color: #909692;
}
.social-github-description {
  margin-top: -35px;
}
.social-insta {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: #08872b;
}
.social-title-insta-fade {
  background: linear-gradient(
    90deg,
    rgba(86, 88, 211, 1) 0%,
    rgba(149, 40, 189, 1) 25%,
    rgba(209, 39, 116, 1) 50%,
    rgba(245, 127, 36, 1) 75%,
    rgba(251, 219, 122, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-title-gram {
  font-family: Nineties;
  margin-top: -55px;
}
.social-insta-description {
  margin-top: -35px;
}
