<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Henri</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>

  <body>
    <div class="header">
      <a href="https://homarr.home" class="header-logo-link">
        <img
          class="header-logo"
          src="{{ url_for('static', filename='/images/henristr.png') }}"
          alt="img"
          height="20px"
        />
      </a>
      <span>Henri Stricker</span>
      <div class="header-links">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/socials">Social</a>
      </div>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
