<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Henri Stricker | Home | SmartFridge Dev | Student | Germany</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
  </head>
  <body>
    <header>
      <a class="header-main" href="/">
        <img
          src="{{ url_for('static', filename='images/henristr.png') }}"
          alt="hstr-img"
          id="hstr-img"
        />
        <h3 id="header-title">Henri Stricker</h3>
      </a>
      <span class="links">
        <a href="/projects">Projects</a>
        <span>|</span>
        <a href="/socials">Social</a>
        <span>|</span>
        <a href="/github">GitHub</a>
      </span>
    </header>
    <main>
      <div id="smartfridge">
        <div class="project-text">
          <h1 id="title">SmartFridge</h1>
          <a href="https://opensmartfridge.de">Try it out!</a>
        </div>
        <img
          src="{{ url_for('static', filename='images/smartfridge.png') }}"
          alt=""
          id="smartfridge-img"
        />
      </div>
    </main>
    <footer>&copy; Henri Stricker {{ year }}</footer>
  </body>
</html>
