{% extends "base.html" %} {% block content %}

<div class="main-title">
  <h1 class="main-title-social">Social</h1>
</div>
<div class="social-github">
  <a href="https://github.com/henristr">
    <h1 class="social-title-git">Git</h1>
    <h1 class="social-title-hub">Hub</h1>
  </a>
  <p class="social-github-description">henristr - GitHub</p>
</div>
<div class="social-insta">
  <a href="https://instagram.com/henristr__">
    <h1 class="social-title-insta social-title-insta-fade">Insta</h1>
    <h1 class="social-title-gram social-title-insta-fade">gram</h1>
  </a>
  <p class="social-insta-description social-title-insta-fade">
    henristr__ - Instagram
  </p>
</div>

{% endblock %}
